<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="./../styles/main.css">
	<!-- style sheet connection problem -->
</head>
<body>
	{{> header}}
	<p>Welcome Page</p>
</body>
</html>